<div class="navbar-section">
    <div class="container flex">
        <div class="img-placeholder">
            <img src="/static/img/logo-orange.png" alt="logo">
        </div> 
        
        <nav>
            <ul>
                <li><a href="/dashboard/profile">My Profile</a></li>
                <li><a href="/logout">My Reviews</a></li>
                <li><a href="/logout" class="btn btn-logout">Log Out
                    <i class="fas fa-power-off"></i>
                </a></li>
                
            </ul>
        </nav>
    </div>
</div>