.container
{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0.625rem 0;
    
}
.flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
   
}
.btn
{
    color: white;
    padding: 0.8rem 1.8rem;
    background: rgba(238, 90, 36,1.0);
    font-size: 1.2rem;
    border-radius: 3px;
}
.btn:hover{
    transform: scale(0.98);
    cursor: pointer;
}
.img-placeholder
{
    width: 200px;
}

.center-container
{
    width: 75%;
    max-width: 100%;
    margin: 0 auto;
   
    padding: 0 0.625rem;
    
}
.grid-container
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 550px;  
}
.message
{
    border: 1px solid var(--danger-btn);
    padding: 0.4rem 0.4rem;
    color:var(--danger-btn);
    margin-top: 0;
    border-radius: 4px;
    background-color:rgba(232, 65, 24,0.2);

}
.message-success{
    color:var(--success-color);
    background-color: rgba(76, 209, 55,0.1);
    border: 1px solid var(--success-color);
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 4px;
    padding: 0.4rem 0.4rem;
  
   }
  button:hover{
      cursor: pointer;
      transform: scale(0.98);
  }
  
.btn-save
{
    background-color: var(--success-color);
}
.btn-edit
{
    background-color: var(--danger-btn);
}

.search-title
  {
    margin-top: 4rem;
    font-size: 2.5rem;
    color: var(--dark-black);
    position: relative;

  }
  textarea:hover
  {
      border: 2px solid var(--dark-orange);
  }
  .search-title::before
  {
    position: absolute;
    content:"";
    top: 100%;
    width: 50%; 
    height: 8px;
    border-radius: 40px;
    background: var(--dark-orange);
}
